<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        
       
      </ol>
    </nav>    
   
  </div>
</div>

<div class="container-fluid page__container">
  <div class="card card-form">
    <div class="row no-gutters">
      <div class="col-lg-1 card-body">
       
      </div>
      <div class="col-lg-12 card-form__body card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">

   




  <div class="field">
    <%= form.label :payment_date %>
    <%= form.date_select :payment_date, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :paying_account_code %>
    <%= form.text_area :paying_account_code, {class: 'form-control'} %>
  </div>

  <div class="field">
    <%= form.label :payment_account_description %>
    <%= form.text_area :payment_account_description, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :prepared_by %>
    <%= form.text_area :prepared_by, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :mode_of_payment %>
    <%= form.text_area :mode_of_payment, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :payment_description %>
    <%= form.text_area :payment_description, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_area :status, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :documentno %>
    <%= form.text_area :documentno, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :posted %>
    <%= form.text_area :posted, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :payee_code %>
    <%= form.text_area :payee_code, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :payee_name %>
    <%= form.text_area :payee_name, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :account_type %>
    <%= form.text_area :account_type, {class: 'form-control'}  %>
  </div>

  <div class="field">
    <%= form.label :category_type %>
    <%= form.text_area :category_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

 
      </div>
    </div>
  </div>
  <div class="text-right mb-5">
    <a href="" class="btn btn-success">Save</a>
  </div>
</div>
